<!DOCTYPE html>
<html>
  <head>
    <title>CraiglistJr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>DBC List<h1>
      <p><%= link_to "Login", new_session_path %> </p>
      <p><%= link_to "Register", new_user_path %> </p>
      <p>All a newbie coder could ever need</p>
      <%= link_to "Add New Category", new_category_path, id: "new-category-link" %>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
